$green-dalt: #003b49;
$blue-dalt: #1d4289;
$red-dalt: #d3273e;
$orange-dalt: #dc582a;
$blue-second-dalt: #1b365d;
$violet-dalt: #5d3754;

.card-game-style{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.bg-green-dalt{
    background-color: $green-dalt;
}

.bg-blue-dalt{
    background-color: $blue-dalt;
}

.bg-red-dalt{
    background-color: $red-dalt;
}

.bg-orange-dalt{
    background-color: $orange-dalt;
}

.bg-blue-second-dalt{
    background-color: $blue-second-dalt;
}

.bg-violet-dalt{
    background-color: $violet-dalt;
}



.text-green-dalt{
    color: $green-dalt;
}

.text-blue-dalt{
    color: $blue-dalt;
}

.text-red-dalt{
    color: $red-dalt;
}

.text-orange-dalt{
    color: $orange-dalt;
}

.text-blue-second-dalt{
    color: $blue-second-dalt;
}

.text-violet-dalt{
    color: $violet-dalt;
}

.hover-btn-color:hover{
    background-color: $blue-dalt;
    opacity: 5;
    color: #fff;
}