<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../public/img/img-equipo/FOTO - SAUL.jpg">
    <img src="../public/img/img-equipo/IMG-20221127-WA0043.jpg">
    <img src="../public/img/img-equipo/WhatsApp Image 2021-10-05 at 7.35.45 PM.jpg">
    <img src="../public/img/img-equipo/WhatsApp_Image_2022-10-20_at_11.44.05_AM-removebg-preview.png">
</body>
</html>